Repository elastic/elastic-stack-testing, pull requests merged in 2020-09, with the labels that each got.

#648 Fix remote url
  ci/kibana/jenkins_kibana_tests.sh
Labels: :Kibana Framework

#650 Update coverage
  ci/kibana/group_defs.sh
  ci/kibana/jenkins_kibana_tests.sh
Labels: :Cloud Framework

#654 [backport] Exclude os cpu backport
  playbooks/monitoring/kibana/docs_compare.py
Labels: backport

#656 [7.x] Update logstash package names (#655)
  ansible/roles/elasticsearch/tasks/linux/elasticsearch_install_tar.yml
  ansible/roles/logstash/tasks/linux/logstash_install_tar.yml
  scripts/python/lib/es_build.py
Labels: backport

#657 Add arm64 testing support
  ci/kibana/jenkins_kibana_tests.sh
  ci/kibana/jobs/linux_arm_jobs.yml
Labels: :Kibana Framework

#640 Enable ESS major upgrades
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/CloudApi.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/CloudCredentials.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/CreateCloudCluster.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/EckCredentials.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/EditCloudCluster.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/RestApi.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/UpgradeAssistantApi.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/UpgradeCloudCluster.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/UploadData.java
  ci/cloud/product/json/alias6.json
  ci/cloud/product/json/mappings6.json
  ci/cloud/product/json/reindex6.json
  ci/cloud/saas/build.gradle
  scripts/shell/lib/build_funcs.sh
Labels: :Cloud Framework
