Repository elastic/elastic-stack-testing, pull requests merged in 2020-02, with the labels that each got.

#485 Add ECK project
  ci/cloud/eck/build.gradle
  ci/cloud/eck/es-spec.yml
  ci/cloud/eck/kbn-spec.yml
  ci/cloud/settings.gradle
  ci/kibana/jobs/eck_jobs.yml
Labels: :Cloud Framework

#486 Update kibana settings
  ci/cloud/ece/ecePlan.json
  ci/cloud/eck/kbn-spec.yml
Labels: :Cloud Framework

#487 Add creds
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/EckCredentials.java
  ci/cloud/eck/build.gradle
Labels: :Cloud Framework

#488 Fix directory path
  ci/cloud/eck/build.gradle
Labels: :Cloud Framework

#489 Fix exec path
  ci/cloud/eck/build.gradle
Labels: :Cloud Framework

#490 Fix/more path
  ci/cloud/eck/build.gradle
Labels: :Cloud Framework

#491 Fix remaining paths
  ci/cloud/eck/build.gradle
Labels: :Cloud Framework

#492 Add back remaining jobs
  ci/kibana/jobs/eck_jobs.yml
Labels: :Cloud Framework

#494 Fix port forwarding
  ci/cloud/eck/build.gradle
  ci/cloud/eck/es-spec.yml
  ci/cloud/eck/kbn-spec.yml
Labels: :Cloud Framework

#495 Fix spec for image
  ci/cloud/eck/build.gradle
  ci/cloud/eck/es-spec.yml
  ci/cloud/eck/kbn-spec.yml
Labels: :Cloud Framework

#496 Fix ML
  ci/cloud/eck/build.gradle
  ci/cloud/eck/es-spec.yml
  ci/cloud/eck/trial-license-spec.yml
Labels: :Cloud Framework

#499 Reorder tests for job
  ci/kibana/group_defs.sh
Labels: :Cloud Framework

#500 Add percy branch
  ci/kibana/jenkins_kibana_tests.sh
Labels: :Visual Testing Framework

#501 [7.x] Update the location of this data (#497)
  playbooks/monitoring/elasticsearch/docs_compare.py
Labels: backport

#502 [7.x] Another fix (#498)
  playbooks/monitoring/elasticsearch/docs_compare.py
Labels: backport

#504 Use existing configurations
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/CloudApi.java
  ci/cloud/buildSrc/src/main/java/org/estf/gradle/CreateCloudCluster.java
Labels: :Cloud Framework

#506 Remove code
  ci/kibana/jenkins_kibana_tests.sh
Labels: :Cloud Framework
